@import "tailwindcss";

:root {
  --background: #2d2e33;
  --foreground: #171717;
  --secondary-color: #454c4c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ek-mukta);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2e33;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ek-mukta), sans-serif;
}

input[type="checkbox"] {
  accent-color: var(--secondary-color);
}
